.about{
    background-image: url('/assets/images/about/about.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    .about-content {
        // top: 0;
        // left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .about-container-text {
            background-color: rgba(246, 244, 245, 0.7);
            border-radius: 0.5em;
            width: auto;
            max-width: 750px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}

/* mini small devices (phones, 600px and down) */
@media only screen and (max-width: 575px) {
    .about{
        height: 500px;
        .about-content{
            padding: 0px 40px;
            .about-container-text{
                padding: 20px 12px;
                h1{
                    font-size: 3em;
                }
                p{
                    font-size: 1em;
                    font-family: $text-font;
                    padding-top: 10px;
                }
            }
        }
    }
    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 576px) and (max-width: 599px) {
    .about{
        height: 600px;
        .about-content{
            padding: 0px 100px;
            .about-container-text{
                padding: 50px 40px;
                h1{
                    font-size: 3.4em;
                }
                p{
                    font-size: 1.3em;
                    font-family: $text-font;
                    padding-top: 30px;
                }
            }
        }
    } 
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .about{
        height: 650px;
        .about-content{
            padding: 0px 100px;
            .about-container-text{
                padding: 50px 40px;
                p{
                    font-size: $size-font-text;
                    font-family: $text-font;
                    padding-top: 30px;
                }
            }
        }
    } 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about{
        height: 650px;
        .about-content{
            padding: 0px 100px;
            .about-container-text{
                padding: 50px 40px;
                p{
                    font-size: $size-font-text;
                    font-family: $text-font;
                    padding-top: 30px;
                }
            }
        }
    } 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about{
        height: 700px;
        .about-content{
            .about-container-text{
                padding: 100px 60px;
                p{
                    font-size: $size-font-text;
                    font-family: $text-font;
                    padding-top: 30px;
                }
            }
        }
    } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about{
        height: 700px;
        .about-content{
            .about-container-text{
                padding: 100px 60px;
                p{
                    font-size: $size-font-text;
                    font-family: $text-font;
                    padding-top: 30px;
                }
            }
        }
    }
}