.divider-main-section-container {
    background: $color-footer;
    color: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 1.8rem;
        text-align: center;
        font-family: "Arima Madurai";
    }
}
