.divider-main-section-container {
    background: $color-footer;
    color: $color-background;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 18px;
        text-align: center;
        font-family: "Arima Madurai";
        // margin-top: 110px;
        // margin-bottom: 110px;
    }
}
