header {width:100%; align-content: center; position: absolute; z-index: 9; background-color: rgba($color: $color-wine, $alpha: 0.35);}
#btn_menu {display: none;}
header label {display: none; align-content:center; width: 30px; padding: 10px; }
header label:hover {cursor:pointer;}
.nav-container {display: none; width: 100%; align-items: center; justify-content: space-between;}

.main_menu {margin: 0; width: auto; z-index: 9; }
.main_menu ul{margin: 0; padding: 0; list-style: none; display:flex; justify-content: center;}
.main_menu ul li{float: none; font-family: "Arima Madurai";}
.main_menu ul li:nth-child(3){color: $color-background; font-family: "Great Vibes", cursive; font-size: 40px; padding-left: 50px; padding-right: 50px;}
.main_menu ul li a{color: $color-background; font-size: 20px; text-decoration: none; display: block; padding: 15px 25px;}
.main_menu ul li a:hover{color: $color-wine}

@media (max-width: 777px) {
    .nav-container{display:flex;}
    header {background-color: rgba($color: $color-wine, $alpha: 0.35) ; position: relative}
    header label {display: block;}
    header div {color: $color-background ;font-family: "Great Vibes", cursive; font-size: 40px;}
    .main_menu {position:absolute; width: 100%; margin-left:-110%; background: $color-background; transition: all 0.5s;}
    .main_menu ul {flex-direction: column; text-align: center;}
    .main_menu ul li {border-top: 1px solid $color-text;}
    .main_menu ul li:nth-child(3){display: none;}
    .main_menu ul li:nth-child(5){border-bottom: 1px solid $color-text;}
    .main_menu ul li a{color: $color-text; }
    #btn_menu:checked ~ .main_menu {margin: 0;}
}