<footer class="main-footer">
    <div class="container-footer">
        <div class="footer-content">
            <div class="location">
                <h3 class="title-footer">Location</h3>
                <p>2215 Jhon Daniel Drive Clarck, No 65243</p>
            </div>
            <div class="live_chat">
                <h3>Live Chat</h3>
                <p>Live chat with customer service.</p>

                
            </div>
            <div class="follow">
                <h3>Follow</h3>
                <div class="icons-foot">
                    <div class="face">
                        <img class="img-face" src="/assets/images/icons/face.svg" alt="icono de facebook">
                    </div>
                    <div class="insta">
                        <img src="/assets/images/icons/insta.svg" alt="icono de instagram">
                    </div>
                    <div class="twit">
                        <img src="/assets/images/icons/twit.svg" alt="icono de twitter"> 
                    </div>
                </div> 
                 
            </div>
            <div class="freelance">
                <p>Freelance is a fire to use, MIT licenced Bootstrap theme created by Start Bootstrap</p>
            </div>
            
        </div>
        
    </div>
</footer>
