<div class="menu-main-section-container" id="menu">
  <!-- <h1 class="text-center">Menu</h1> -->
  <div class="menu-container">
    <div class="menu-item menu-item-coockies" data-toggle="modal" data-target="#coockiesModal"><span
        class="text-item">Cookies</span></div>
    <div class="menu-item menu-item-cupcakes" data-toggle="modal" data-target="#cupcakesModal"><span
        class="text-item">Cupcakes</span></div>
    <div class="menu-item menu-item-macarons" data-toggle="modal" data-target="#macaronsModal"><span
        class="text-item">Macarons</span></div>
    <div class="menu-item menu-item-cakes" data-toggle="modal" data-target="#cakesModal"><span
        class="text-item">Cakes</span></div>
  </div>
</div>