<header>
    <!-- MOBILE NAV-->
    <input type="checkbox" id="btn_menu">
    <div class="nav-container">
        <label for="btn_menu"><img src="/assets/images/icons/Icono_menu.png" width="30px" height="30px" alt=""></label>
        <div>Sweet Room</div>
        <div>  </div>
    </div>

    <!-- NAVEGATION BAR -->
    <nav class="main_menu">
        <ul>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#our-stars">Our Stars</a></li>
            <li>Sweet Room</li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>	
</header>