<div class="our-stars-main-section-container" id="our-stars">
    <h1 class="text-center">Our Stars</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card shadow-lg">
                    <img class="card-img-top" src="assets/images/cakes/cake-3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Three milk cake</h5>
                        <p class="card-text">Condensed milk, whole milk, and whipped cream are the traditional “three
                            milks”
                            that are mixed and poured into the cake. This recipe transforms an ordinary cake into a
                            rich,
                            moist, and great-tasting dessert.</p>
                        <div class="our-stars-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card shadow-lg">
                    <img class="card-img-top" src="assets/images/macarons/macarons-2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">A different touch</h5>
                        <p class="card-text">Actually, there is not much of a secret. A macaron de law is a perfect mix
                            of
                            almond flour and meringue. But its preparation has some complexities so it is better to read
                            the
                            entire recipe before putting the dough up your sleeve.</p>
                        <div class="our-stars-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="card shadow-lg">
                    <img class="card-img-top" src="assets/images/cupcakes/cupcakes-3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Chocolate cupcakes</h5>
                        <p class="card-text">Chocolate lovers will be amazed by this simple and delicious cupcake
                            recipe.
                            Ideal to surprise the little ones in birthday celebrations.</p>
                        <div class="our-stars-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>