<div class="modal fade" id="macaronsModal" tabindex="-1" role="dialog" aria-labelledby="macaronsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="macaronsModalLabel">Our macarons</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="macaron-1-tab" data-toggle="tab" href="#macaron-1" role="tab"
              aria-controls="macaron-1" aria-selected="true">Traditional Macarons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="macaron-2-tab" data-toggle="tab" href="#macaron-2" role="tab"
              aria-controls="macaron-2" aria-selected="false">A Different Touch</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="macaron-1" role="tabpanel" aria-labelledby="macaron-1-tab">

            <div class="container">
              <h1 class="mt-1">¡Traditional macarons!</h1>
              <div class="menu-modal-container">
                <div class="menu-modal-img">
                  <img class="shadow-lg img-fluid" src="/assets/images/macarons/macarons-1.jpg" alt="Traditional Macarons">
                </div>
                <div class="menu-modal-text">
                  <p>Macarons are quite a complicated dessert to make, they are actually easy to prepare but it is
                    difficult to find the perfect point. The secret is with the necessary consistency of the dough and
                    finding the necessary temperature and height in our oven. A few tips, a few practices and you are
                    sure to get the perfect macarons.</p>
                  <div class="menu-modal-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="macaron-2" role="tabpanel" aria-labelledby="macaron-2-tab">
            <div class="container">
              <h1 class="mt-1">¡A different touch!</h1>
              <div class="menu-modal-container">
                <div class="menu-modal-img">
                  <img class="shadow-lg img-fluid" src="/assets/images/macarons/macarons-2.jpg"
                    alt="A Different Touch Macaron">
                </div>
                <div class="menu-modal-text">
                  <p>Actually, there is not much of a secret. A macaron de law is a perfect mix of almond flour and
                    meringue. But its preparation has some complexities so it is better to read the entire recipe before
                    putting the dough up your sleeve.</p>
                  <div class="menu-modal-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>