<div class="modal fade" id="coockiesModal" tabindex="-1" role="dialog" aria-labelledby="coockiesModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="coockiesModalLabel">Our coockies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="cinnamon-coockie-tab" data-toggle="tab" href="#cinnamon-coockie" role="tab"
              aria-controls="cinnamon-coockie" aria-selected="true">Cinnamon Coockies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="oatmeal-coockie-tab" data-toggle="tab" href="#oatmeal-coockie" role="tab"
              aria-controls="oatmeal-coockie" aria-selected="false">Oatmeal Cookies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="heart-coockie-tab" data-toggle="tab" href="#heart-coockie" role="tab"
              aria-controls="heart-coockie" aria-selected="false">Heart Coockies</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="cinnamon-coockie" role="tabpanel"
            aria-labelledby="cinnamon-coockie-tab">

            <div class="container">
              <h1 class="mt-1">¡Sweetness with cinnamon!</h1>
              <div class="menu-modal-container">
                <div class="menu-modal-img">
                  <img class="shadow-lg img-fluid" src="/assets/images/coockies/coockies-1.jpg" alt="Cinnamon Coockies">
                </div>
                <div class="menu-modal-text">
                  <p>Share these delicious cinnamon cookies with your loved ones. It has a rich flavor
                    and subtle
                    aroma of cinnamon that you can accompany it with a delicious tea or coffee. They
                    are
                    perfect
                    for cold afternoons or to eat for breakfast. Do not stop doing them, they are
                    soft
                    on the
                    inside and slightly crunchy on the outside.</p>
                  <div class="menu-modal-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="oatmeal-coockie" role="tabpanel" aria-labelledby="oatmeal-coockie-tab">
            <div class="container">
              <h1 class="mt-1">¡Oatmeal coockies!</h1>
              <div class="menu-modal-container">
                <div class="menu-modal-img">
                  <img class="shadow-lg img-fluid" src="/assets/images/coockies/coockies-2.jpg" alt="Oatmeal Cookies">
                </div>
                <div class="menu-modal-text">
                  <p>Some cookies in six easy steps, delicious to eat where you want and how you want. Also, there is
                    nothing better than some delicious oatmeal cookies made with our special recipe.</p>
                  <div class="menu-modal-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="heart-coockie" role="tabpanel" aria-labelledby="heart-coockie-tab">
            <div class="container">
              <h1 class="mt-1">¡Heart coockies!</h1>
              <div class="menu-modal-container">
                <div class="menu-modal-img">
                  <img class="shadow-lg img-fluid" src="/assets/images/coockies/coockies-3.jpg" alt="Heart Coockies">
                </div>
                <div class="menu-modal-text">
                  <p>These delicious butter and almond cookies will be the perfect option to have a detail with your
                    partner or with friends.</p>
                  <div class="menu-modal-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>