<div class="modal fade" id="cupcakesModal" tabindex="-1" role="dialog" aria-labelledby="cupcakesModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cupcakesModalLabel">Our cupcakes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="cupcake-1-tab" data-toggle="tab" href="#cupcake-1" role="tab"
              aria-controls="cupcake-1" aria-selected="true">Milk Cupcakes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="cupcake-2-tab" data-toggle="tab" href="#cupcake-2" role="tab"
              aria-controls="cupcake-2" aria-selected="false">Strawberry Cupcakes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="cupcake-3-tab" data-toggle="tab" href="#cupcake-3" role="tab"
              aria-controls="cupcake-3" aria-selected="false">Chocolate Cupcakes</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="cupcake-1" role="tabpanel" aria-labelledby="cupcake-1-tab">

            <div class="container">
              <h1 class="mt-1">¡Milk cupcake!</h1>
              <div class="menu-modal-container">
                <div class="menu-modal-img">
                  <img class="shadow-lg img-fluid" src="/assets/images/cupcakes/cupcakes-1.jpg" alt="Milk Cupcakes">
                </div>
                <div class="menu-modal-text">
                  <p>Rich and fluffy tres leches cupcakes. The bitumen has two ingredients and is left with a creamy
                    consistency that goes perfectly with the sweet taste of cupcakes. Decorating with fondant gives them
                    a very cute and professional appearance. They can be a gift for a special person or simply to share
                    with the family.</p>
                  <div class="menu-modal-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="cupcake-2" role="tabpanel" aria-labelledby="cupcake-2-tab">
            <div class="container">
              <h1 class="mt-1">¡Strawberry cupcakes!</h1>
              <div class="menu-modal-container">
                <div class="menu-modal-img">
                  <img class="shadow-lg img-fluid" src="/assets/images/cupcakes/cupcakes-2.jpg"
                    alt="Strawberry Cupcakes">
                </div>
                <div class="menu-modal-text">
                  <p>A recipe for strawberry cupcakes that you cannot miss, they are really delicious since both the
                    dough and the bitumen have bits of strawberry.</p>
                  <div class="menu-modal-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="cupcake-3" role="tabpanel" aria-labelledby="cupcake-3-tab">
            <div class="container">
              <h1 class="mt-1">¡Chocolate cupcakes!</h1>
              <div class="menu-modal-container">
                <div class="menu-modal-img">
                  <img class="shadow-lg img-fluid" src="/assets/images/cupcakes/cupcakes-3.jpg"
                    alt="Chocolate Cupcakes">
                </div>
                <div class="menu-modal-text">
                  <p>Chocolate lovers will be amazed by this simple and delicious cupcake recipe. Ideal to surprise the
                    little ones in birthday celebrations.</p>
                  <div class="menu-modal-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>