extends layouts/layout.pug 

block content 
    include partials/nav.html
    include partials/carrusel.html
    include partials/divider.html
    include partials/menu.html
    include partials/our_stars.html
    include partials/about.html
    include partials/contact.html
    include partials/footer.html
    include partials/modal-menu/modal-menu-coockies.html
    include partials/modal-menu/modal-menu-cupcakes.html
    include partials/modal-menu/modal-menu-macarons.html    
    include partials/modal-menu/modal-menu-cakes.html    
    