@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//variables section
$main-font: "Great Vibes", cursive;
$text-font: "Arima Madurai", cursive;
$color-background: #f6f4f5;
$color-text: #161214;
$color-footer: #594851;
$color-gray: #323036;
$color-wine: #7b2836;

/* About variables */
$size-font-title: 4em;
$size-font-text: 1.6em;
$pad-top-text: 40px;
$margin-height-text: 0;
$margin-width-text: 50px;

// importing components section
@import "./components/nav.scss";
@import "./components/carrusel.scss";
@import "./components/divider.scss";
@import "./components/menu.scss";
@import "./components/our_stars.scss";
@import "./components/about.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Great+Vibes&display=swap");

//global changes section
h1 {
    font-family: $main-font;
    font-size: $size-font-title;
}

h2 {
    font-family: $text-font;
}

body {
    background-color: $color-background;
    color: $color-text;
    font-family: $text-font;
}

.divider-main-section-container {
    padding: 80px 0;
}

.our-stars-main-section-container,
.contact-main-section-container {
    padding: 60px 0;
}

.divider-main-section-container,
.menu-main-section-container,
.our-stars-main-section-container,
.contact-main-section-container {
    h1 {
        margin-bottom: 20px;
    }
}

.tab-content {
    h1 {
        font-size: 2.4rem;
        padding-top: 20px;
    }
}

/* Mini small devices (phones, 600px and down) */
// @media only screen and (min-width: 0px) and (max-width: 575px) {
//     $size-font-title: 3em;
//     $size-font-text: 1.4em;
//     $pad-top-text: 30px;
//     $margin-height-text: 0;
//     $margin-width-text: 20px;
// }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    .divider-main-section-container {
        padding: 40px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
